{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load custom_filters %}
<div class="about-us-container">
    <div class="about-us-block1">
        <h2 class="about-us-block1-title">МИССИЯ И ЦЕЛИ</h2>
        <div>
            <h3>Миссия:</h3>
            <p>Содействие в создании благоприятных правовых и экономических условий для индустриального
                развития Республики Казахстан</p>
        </div>
        <h3>Цели:</h3>
        <div class="about-us-block-background">
            <ul>
                <li>Создание конкурентоспособной и экспортоориентированной промышленности Казахстана</li>
                <li>Создание благоприятных условий для бизнеса через диалог с государством</li>
                <li>Содействие увеличению доли сложных наукоемких производств</li>
                <li>Содействие увеличению доли обрабатывающей промышленности в общей структуре
                    промышленного сектора</li>
                <li>Снижение зависимости экономики от сырьевой направленности, увеличение страновой ценности в
                    конечной продукции
                </li>
                <li>Разработка и принятие долгосрочного комплексного плана развития отраслей промышленности</li>
                <li>Заключение Соглашения о социальном партнерстве между государством, работодателями и
                    работниками/профсоюзами для стратегического развития отраслей</li>
            </ul>
        </div>
        <h3>«СДЕЛАНО В КАЗАХСТАНЕ» – ЭТО ДОЛЖНО ЗВУЧАТЬ ГОРДО!</h3>
        <h3>«МЫ ЗА РЕФОРМЫ ПРЕЗИДЕНТА-МЫ ЗА СПРАВЕДЛИВЫЙ КАЗАХСТАН»</h3>
    </div>
    <div class="about-us-block2">
        <div class="about-us-block2-container">
            <h1>ОСНОВНЫЕ ПРОБЛЕМЫ ПРОМЫШЛЕННОСТИ КАЗАХСТАНА</h1>
            <div class="about-us-block2-img">
                <img src="{% static 'about_us_images/about_us_image_1.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="about-us-line"></div>
    <div class="about-us-block3">
        <div class="about-us-block3-container">
            <div class="about-us-block3-img">
                <img src="{% static 'about_us_images/about_us_image_2.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="about-us-block4">
        <div class="about-us-block4-container">
            <h2>СТРУКТУРА</h2>
            <div class="about-us-block4-img">
                <img src="{% static 'about_us_images/about_us_image_3.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="about-us-line"></div>
    <div class="about-us-block5">
        <div class="about-us-block5-container">
            <h2>МЕХАНИЗМ РЕАЛИЗАЦИИ</h2>
            <div class="about-us-block5-img">
                <img src="{% static 'about_us_images/about_us_image_4.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="about-us-block6">
        <div class="about-us-block6-container">
            <h2>КООРДИНАЦИОННЫЙ СОВЕТ ПО ВОПРОСАМ РАЗВИТИЯ
                ОБРАБАТЫВАЮЩЕЙ ПРОМЫШЛЕННОСТИ</h2>
            <div class="about-us-block6-top">
                <h3>ЦЕЛЬ И ЗАДАЧИ
                    КООРДИНАЦИОННОГО
                    СОВЕТА</h3>
                <div class="about-us-block6-top-items">
                    <div class="about-us-block6-top-item">
                        <img src="{% static 'about_us_images/about_us_image_5_icon.png' %}" alt="">
                        <p>Обеспечение конструктивного диалога государства и бизнеса</p>
                    </div>
                    <div class="about-us-block6-top-item">
                        <img src="{% static 'about_us_images/about_us_image_5_icon2.png' %}" alt="">
                        <p>Совершенствование законодательства с целью улучшения правовых факторов,
                            влияющих на развитие промышленности</p>
                    </div>
                    <div class="about-us-block6-top-item">
                        <img src="{% static 'about_us_images/about_us_image_5_icon3.png' %}" alt="">
                        <p>Участие бизнеса в улучшении условий промышленного развития</p>
                    </div>
                </div>
            </div>
            <div class="about-us-block6-bottom">
                <h3>СОСТАВ
                    КООРДИНАЦИОННОГО
                    СОВЕТА</h3>
                <ul>
                    <li>Депутаты Мажилиса и Сената (более 20-ти представителей).</li>
                    <li>При участии гос./квазигос. секторов, экспертов и бизнес-сообщества.</li>
                    <li>Альянс – рабочий орган и координатор.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="about-us-block7">
        <h2>КООРДИНАЦИОННЫЙ СОВЕТ ПО ВОПРОСАМ РАЗВИТИЯ
            ОБРАБАТЫВАЮЩЕЙ ПРОМЫШЛЕННОСТИ</h2>
        <h3>МЕХАНИЗМ РЕАЛИЗАЦИИ</h3>
        <div class="about-us-block7-items">
            <div class="about-us-block7-item">
                <img src="{% static 'about_us_images/about_us_image_6_icon1.png' %}" alt="">
                <p>Определение вопросов для включения в повестку заседания рабочим органом Координационного совета</p>
            </div>
            <div class="about-us-block7-item">
                <img src="{% static 'about_us_images/about_us_image_6_icon2.png' %}" alt="">
                <p>Мониторинг и анализ законодательства по вопросам рассматриваемым на Координационном совете</p>
            </div>
            <div class="about-us-block7-item">
                <img src="{% static 'about_us_images/about_us_image_6_icon3.png' %}" alt="">
                <p>Рассмотрение на заседании Координационного совета, выработка решений, с протоколированием итогов
                    заседаний</p>
            </div>
            <div class="about-us-block7-item">
                <img src="{% static 'about_us_images/about_us_image_6_icon4.png' %}" alt="">
                <p>Дальнейшая реализация принятых решений на площадке Парламента</p>
            </div>
            <div class="about-us-block7-item">
                <img src="{% static 'about_us_images/about_us_image_6_icon5.png' %}" alt="">
                <p>Освещение результата рассмотрения в средствах массовой информации</p>
            </div>
            <div class="about-us-block7-item">
                <img src="{% static 'about_us_images/about_us_image_6_icon6.png' %}" alt="">
                <p>При отсутствии решения вопросов на площадке Парламента вынесение данных вопросов на уровень Главы
                    государства</p>
            </div>
        </div>
        <h3>ОЖИДАЕМЫЙ ЭФФЕКТ</h3>
        <div class="about-us-block7-items">
            <div class="about-us-block7-item">
                <img src="{% static 'about_us_images/about_us_image_6_icon7.png' %}" alt="">
                <p>Повышение эффективности взаимодействия законодательного органа власти с промышленностью</p>
            </div>
        </div>
    </div>
    <div class="about-us-block8">
        <div class="about-us-block8-left">
            <h2>ПРОЕКТНЫЕ ОФИСЫ</h2>
            <div class="about-us-block8-body">
                <p>Задачи</p>
                <ul>
                    <li>Достижения конкретных целей проектов
                        Альянса «Парасат»</li>
                    <li>Реализация проектов в секторах экономики по
                        стратегическим вопросам Альянса «Парасат»</li>
                </ul>
                <p>Функционал</p>
                <ul>
                    <li>Реализация проектов</li>
                    <li>Инициация новых предложений</li>
                    <li>Поиск источников финансирования</li>
                </ul>
                <p>Состав формируется из штатных и внештатных
                    экспертов</p>
            </div>
        </div>
        <div class="about-us-block8-img" style="background-image: url({% static 'about_us_images/about_us_image_7.png' %});">
        </div>
    </div>
    <div class="about-us-block9">
        <h2>АЛЬЯНС ПАРАСАТ СЕГОДНЯ</h2>
        <h3>Члены альянса «Парасат»</h3>
        <div class="about-us-block9-items">
            <p>Более 100 предприятий химической промышленности</p>
            <p>Производителей и импортеров подакцизной продукции более 30 компаний</p>
            <p>Представителей индустрии безалкогольных напитков более 30 компаний</p>
            <p>Ассоциация производителей дорожно-строительных материалов</p>
            <p>Евроазиатская независимая ассоциация инженеров-взрывников</p>
            <p>Сформирован комитет по металлургической промышленности из 20 компаний</p>
            <p>Действует рабочая группа по электроэнергетике более 30 компаний</p>
            <p>Сформирована рабочие группы по легкой промышленности (школьная форма, школьное питание)</p>
            <p>Сформирован Координационный совет по вопросам развития обрабатывающей промышленности</p>
        </div>
        <h3>Финансирование</h3>
        <i class="about-us-block9-bottom">Альянс предпринимателей «Парасат» является некоммерческой организацией</i>
    </div>

</div>
{% endblock %}