{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load custom_filters %}
<div class="about-us-container">
    <div class="about-us-block1">
        <h2 class="about-us-block1-title">МИССИЯ И ЦЕЛИ</h2>
        <div>
            <h3>Миссия:</h3>
            <p>Содействие в создании благоприятных правовых и экономических условий для индустриального
                развития Республики Казахстан</p>
        </div>
        <h3>Цели:</h3>
        <div class="about-us-block-background">
            <ul>
                <li>Создание конкурентоспособной и экспортоориентированной промышленности Казахстана</li>
                <li>Создание благоприятных условий для бизнеса через диалог с государством</li>
                <li>Содействие увеличению доли сложных наукоемких производств</li>
                <li>Содействие увеличению доли обрабатывающей промышленности в общей структуре
                    промышленного сектора</li>
                <li>Снижение зависимости экономики от сырьевой направленности, увеличение страновой ценности в
                    конечной продукции
                </li>
                <li>Разработка и принятие долгосрочного комплексного плана развития отраслей промышленности</li>
                <li>Заключение Соглашения о социальном партнерстве между государством, работодателями и
                    работниками/профсоюзами для стратегического развития отраслей</li>
            </ul>
        </div>
        <h3>«СДЕЛАНО В КАЗАХСТАНЕ» – ЭТО ДОЛЖНО ЗВУЧАТЬ ГОРДО!</h3>
        <h3>«МЫ ЗА РЕФОРМЫ ПРЕЗИДЕНТА-МЫ ЗА СПРАВЕДЛИВЫЙ КАЗАХСТАН»</h3>
    </div>
    <div class="about-us-block2">
        <div class="about-us-block2-container">
            <h1>ОСНОВНЫЕ ПРОБЛЕМЫ ПРОМЫШЛЕННОСТИ КАЗАХСТАНА</h1>
            <div class="about-us-block2-img">
                <img src="{% static 'about_us_images/about_us_image_1.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="about-us-line"></div>
    <div class="about-us-block3">
        <div class="about-us-block3-container">
            <div class="about-us-block3-img">
                <img src="{% static 'about_us_images/about_us_image_2.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="about-us-block4">
        <div class="about-us-block4-container">
            <h2>СТРУКТУРА</h2>
            <div class="about-us-block4-img">
                <img src="{% static 'about_us_images/about_us_image_3.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="about-us-line"></div>
    <div class="about-us-block5">
        <div class="about-us-block5-container">
            <h2>МЕХАНИЗМ РЕАЛИЗАЦИИ</h2>
            <div class="about-us-block5-img">
                <img src="{% static 'about_us_images/about_us_image_4.png' %}" alt="">
            </div>
        </div>
    </div>
s
</div>
{% endblock %}