{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load custom_filters %}
<div class="news-container">
    <h1>{{ news.title }}</h1>
    <p>{{ news.text }}</p>

    <div class="comments-container">
        {% if comments %}
        <h3>Комментарии</h3>
        {% else %}
        <h3>Комментариев пока нет</h3>
        {% endif %}
        {% for comment in comments %}
        {% if comment.approved %}
        <div class="comments">
            <strong>{{ comment.author_name }}</strong>
            <p>{{ comment.text }}</p>
            <span>Оставлено {{ comment.created_at }}</span>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <h3>Оставьте комментарий</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_author_name">Ваше имя: </label>
            <input type="text" id="id_author_name" name="author_name" class="form-control" required>
            {% if comment_form.author_name.errors %}
            <div class="error">{{ comment_form.author_name.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_author_email">Ваша почта: </label>
            <input type="email" id="id_author_email" name="author_email" class="form-control" required>
            {% if comment_form.author_email.errors %}
            <div class="error">{{ comment_form.author_email.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_text">Комментарий: </label>
            <textarea id="id_text" name="text" class="form-control" required></textarea>
            {% if comment_form.text.errors %}
            <div class="error">{{ comment_form.text.errors }}</div>
            {% endif %}
        </div>

        <button type="submit" class="btn button-default">Оставить комментарий</button>
    </form>
</div>
{% endblock %}